.loader_bg {
  background-image: url(/src/img/img/bg.png);

  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 70% center;
  background-size: cover;
}
.container {
  width: 292px;
  height: 292px;
  background-color: transparent;
  display: flex;
  @media screen and (min-width: 768px) {
    width: 396px;
    height: 396px;
  }
}
