.catblock {
  height: 280px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  background-image: url(/src/img/img/cat.png);
  background-size: cover;
  background-position: center;
  margin: 20px 0 10px;
  @media screen and (min-width: 768px) {
    height: 304px;
    background-size: 364px 302px;
    background-position: 280px;
    background-repeat: no-repeat;
    position: relative;
    margin: 30px 0 16px;
  }
}
.dogblock {
  height: 280px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  background-image: url(/src/img/img/dog.png);
  background-size: cover;
  background-position: center;
  margin: 20px 0 10px;
  @media screen and (min-width: 768px) {
    height: 304px;
    background-size: 364px 302px;
    background-position: 280px;
    background-repeat: no-repeat;
    position: relative;
    margin: 30px 0 16px;
  }
}
.another_dog_block {
  height: 213px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  background-image: url(/src/img/img/dog2.png);
  background-size: cover;
  background-position: center;
  margin: 20px 0 10px;
  @media screen and (min-width: 768px) {
    height: 248px;

    background-size: 364px 248px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 30px 0 16px;
  }
}
