.petblock {
  height: 280px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  background-image: url(/src/img/img/cat.png);
  background-size: cover;
  background-position: center;
  margin: 20px 0 10px;
}
