.catblock {
  height: 280px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  background-image: url(/src/img/img/cat.png);
  background-size: cover;
  background-position: center;
  margin: 20px 0 10px;
  @media screen and (min-width: 768px) {
    height: 304px;
    border-radius: 60px;
    background-size: 364px 302px;
    background-position: 280px;
    background-repeat: no-repeat;
    position: relative;
    margin: 30px 0 16px;
  }
  @media screen and (min-width: 1280px) {
    width: 592px;
    height: 654px;
    background-size: 536px 632px;
    background-position: 22px 22px;
    background-image: url(/src/img/img/cat_desctop.png);
    margin: 0;
  }
}
.dogblock {
  height: 280px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  background-image: url(/src/img/img/dog.png);
  background-size: cover;
  background-position: center;
  margin: 20px 0 10px;
  @media screen and (min-width: 768px) {
    height: 304px;
   
    border-radius: 60px;
    background-size: 364px 302px;
    background-position: 280px;
    background-repeat: no-repeat;
    position: relative;
    margin: 30px 0 16px;
  }
  @media screen and (min-width: 1280px) {
    width: 592px;
    height: 654px;
    background-size: 536px 632px;
    background-position: 40px 20px;
    background-image: url(/src/img/img/dog_desctop.png);
    margin: 0;
  }
}
.another_dog_block {
  height: 213px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  background-image: url(/src/img/img/dog2.png);
  background-size: cover;
  background-position: center;
  margin: 20px 0 10px;
  @media screen and (min-width: 768px) {
    height: 248px;
    border-radius: 60px;
    background-size: 364px 248px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 30px 0 16px;
  }
  @media screen and (min-width: 1280px) {
    width: 592px;
    height: 654px;
    background-size: 536px 632px;
    background-position: 20px 45px;
    background-image: url(/src/img/img/dog2_desctop.png);
    margin: 0;
  }
}
