@import-normalize; /* bring in normalize.css styles */


body,
html {
  margin: 0;
  color: var(--primary-color);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--background-color);
}

ul {
  list-style: none;
}

ul {
  padding-inline-start: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
:root {
  --primary-color: #262626;
  --secondary-color: #f6b83d;
  --accent-color: #fff4df;
  --background-color: #ffffff;
}
